@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-image: url("https://images.wallpaperscraft.com/image/single/code_codes_data_133187_1280x720.jpg")
}
.wrapper{
  margin: 10px;
}
.wrapper .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 10px;
}
h1{
text-shadow: 6px 6px #8B898A;
color: #fff;
font-family: fantasy;
font-size: 70px;
}

h2{
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px rgb(202, 93, 93);
}
.wrapper .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #ad3e3e;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #e29292;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(55, 5, 95, 0.1);
}

.wrapper .top_navbar .top_menu .logo{
  color: #ad2e2e;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  

  
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
 
}

.wrapper .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #ad2e2e;
  border-radius: 50%;
  color: #ad2e2e;
  box-shadow: 4px 4px rgb(128, 0, 0) ;
}

.wrapper .top_navbar .top_menu ul li a:hover{
  background: #b54343;
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}

.wrapper .sidebar{
  position: fixed;
  top: 70px;
  left: 10px;
  background: #a13f3f;
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #eeeeee;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #e26b6b;
  display: none;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #b16060;
  color: rgb(116, 37, 37);
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center; 
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}

.wrapper.collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
.wrapper .main_container .Syllabus{
  background: #fff;
  margin-bottom: 10px;
  padding: 12px;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
  padding-top: 20px;
  text-orientation: center;


}
.wrapper .main_container .item h3{
  font-size: 30px;
  font-family: monospace;
}
.Syllabus .btn1
  {
    width: 25%;
    padding: 8px 10px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #49bde0;
    color: rgb(8, 8, 8);
    border: 0;
    outline: none;
    border-radius: 30px;
    text-align: center;
  
}
.Syllabus h2
{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #863b2e;
}