
body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/356/990/large_2x/frame-of-different-stationery-on-white-wooden-background-photo.jpg");
    background-repeat: no-repeat;
    background-size: 2000px 800px;
}
img {
    position: absolute;
    top: 0px;
    left: 0px;
 }
 .msrcasclogo{
    max-width: 60px;
    display: flex;
    position: absolute;
    justify-content: left;
    top: 0;
    left: 0;

}
form {
    width: 30%;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #555;
  }
  input {
    width: 100%;
    border: 1px solid #f1e1e1;
    display: block;
    padding: 5px 10px;
  }
  button {
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  table {
    width: 60%;
    border-collapse: collapse;
    margin: 100px auto;
  }
  th,
  td {
    height: 50px;
    vertical-align: center;
    border: 1px solid black;
  }